/* CSS Comment */
p {
    color: darksalmon;
}

body {
    background-color: gray;
}

div {
  width: 50vw; /* Half the width of the browser window */
  height: 100vh; /* The whole height of the browser window */
}

.special_paragraph {
    text-decoration: underline;
}

#unique_paragraph1 {
    text-decoration: line-through;
}